/* .faq-heading h2 {
  margin: 60px;
  display: inline;
  font-weight: 600;
  line-height: 1;
  border: solid 0.1em #59bff6;
  background-color: #59bff6;
  padding: 10px 40px;
  font-size: 30px;
}

.faq-heading {
  margin: 60px;
  text-align: center;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 4px solid #ffffff;
}

.faq .card .card-header {
  padding: 20px 0;
  border: none;
  background: none;
}

.faq .card .card-header .faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
}

.faq .card .card-header .faq-title i {
  padding: 0.5rem;
}

.faq .card .card-header .faq-title .ion-md-remove-circle {
  display: none;
}

.faq .card .card-body {
  font-size: 25px;
  max-height: 0;
  overflow: hidden;
  position: relative;
  /* transition: max-height 600ms; */
/* }

.faq .card .card-body::before {
  content: "";
  position: absolute;
}

.faq .card .card-body p {
  margin-bottom: 14px;
  padding-bottom: 16px;
  margin-top: 0;
  color: #ffffff;
}

.faq .card:target .faq-title {
  color: #59bff6;
}

.faq .card:target .card-body {
  max-height: 20rem;
}

.faq .card:target .card-header .ion-md-add-circle {
  display: none;
}

.faq .card:target .card-header .ion-md-remove-circle {
  display: block;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}  */
.accordion-button,.accordion-body{
  color:white ;
}
.accordion-header{
  border-bottom: 5px solid white;
}
@media (max-width: 600px) {
  .faq-content
  {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) and (max-width: 768px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1300px) {
}

@media (min-width: 1300px) and (max-width: 1367px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {
}
