#devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #55bef6;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  margin-top:30px;
  margin-bottom:30px;
  /* text-transform: lowercase; */
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954bf !important;
  transition: ease-in-out 0.1s;
}


.intro {
  
}

.message {
  color: #55bef6;
  font-size:1.3rem;
}
.intro-wrapper{
  padding-top:130px;
  margin-bottom: 50px;
}
.ihack-front h1 {
  font-size: 10rem;
  font-weight: 700;
  color: #55bef6;
  z-index: 10;
  position: relative;
  top: 17px;
  right: 5px;
}

.ihack-behind span {
  font-size: 10rem;
  font-weight: 700;
  color: #01213c;
  text-shadow: -2px 2px 0 #ffffff, 2px 2px 0 #ffffff, 2px -2px 0 #ffffff,
    -2px -2px 0 #ffffff;
  position: absolute;
  z-index: -1;
}

.year h1 {
  font-size: 9rem;
  font-weight: 700;
  color: #01213c;
  text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
}
.ihack {
  padding-top: 0px;
  margin-bottom: 0px;
}

.year {
  margin-top: -30px;
}

.dates p {
  font-size: 2.5rem;
  font-weight: 600;
}
.dates span {
  color: #55bef6;
}
.intro-content{
  margin-top: 50px;
}
.intro-content h1{
  color: #55bef6;
  font-size:3rem;
}
.intro-content h3{
  font-size:2rem;
}
.discord-button{
  background-color: #6F84D2;
  color:white;
  text-decoration: none;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  padding: 12px 20px;
  padding-right: ;
  text-align: center;
}
.discord-button img{
  margin-right: 10px;
}
.discord-button:hover{
  color:white;
  background-color:#677BC4;
  transition: ease-in-out 0.1s;
}
.scrollbottom{
  width:fit-content;
}
.scrollbottom img{
  width:70px;
  height:70px;
}
.scroll-container{
  padding-bottom: 20px;
  
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  
  
}
#myBtn img{
  width:60px;
  height:60px;
}
#myBtn:hover {
  
}
/* @media (min-width: 350px) and (max-width: 400px) {
  .intro {
    font-size: 8vw;
  }

  .intro-content .h3 {
    font-size: 7vw;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
} */

@media (max-width: 600px) {
  .intro-wrapper{
    width:100wv;
    padding-left: 7vw;
    padding-right:7vw;
  }
  .ihack-behind{
   
  }
  .ihack-behind span{
    font-size: 6rem;
  }
  .ihack-front h1{
    font-size: 6rem;
  }
  .year{
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .year h1{
    font-size:6rem;
  }
  .dates{
    
    
    margin-bottom: 40px;
  }
  .dates p{
    font-size: 2rem;
  }
  .intro {
    font-size: 1.7rem;
  }
  .intro-content h1{
    font-size:2rem;
  }
  .intro-content h3 {
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight:100;
  }
  .intro-content button{
    margin-left:0vw;
  }
  .message{
    margin-bottom:30px;
    
  }
  .intro-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .scrollbottom img{
    display:none;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) and (max-width: 768px) {
  .intro-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1300px) {
  .intro-wrapper{
    height:100vh;
  }
}

@media (min-width: 1300px) and (max-width: 1367px) {
  .intro-wrapper{
    height:100vh;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {
  .intro-wrapper{
    height:100vh;
  }
}

