#devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #55bef6;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  /* text-transform: lowercase; */
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954bf !important;
}


.intro {
  color: #55bef6;
}

.message {
  color: #55bef6;
}

.ihack-front h1 {
  font-size: 9rem;
  font-weight: 700;
  color: #55bef6;
  z-index: 10;
  position: relative;
  top: 17px;
  right: 5px;
}

.ihack-behind span {
  font-size: 9rem;
  font-weight: 700;
  color: #01213c;
  text-shadow: -2px 2px 0 #ffffff, 2px 2px 0 #ffffff, 2px -2px 0 #ffffff,
    -2px -2px 0 #ffffff;
  position: absolute;
  z-index: -1;
}

.year h1 {
  font-size: 8rem;
  font-weight: 700;
  color: #01213c;
  text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
}
.ihack {
  padding-top: 0px;
  margin-bottom: 0px;
}

.year {
  margin-top: -30px;
}

.dates p {
  font-size: 2rem;
  font-weight: 600;
}
.dates span {
  color: #55bef6;
}
.intro-content{
  margin-top: 40px;
}

/* @media (min-width: 350px) and (max-width: 400px) {
  .intro {
    font-size: 8vw;
  }

  .intro-content .h3 {
    font-size: 7vw;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
} */

@media (max-width: 600px) {
  .intro-wrapper{
    width:100wv;
    padding-left: 7vw;
    padding-right:7vw;
  }
  .ihack-behind{
   
  }
  .ihack-behind span{
    font-size: 6rem;
  }
  .ihack-front h1{
    font-size: 6rem;
  }
  .year{
    margin-bottom: -10px;
  }
  
  .dates{
    font-size: 1.75rem;
    
    margin-bottom: 40px;
  }
  .intro {
    font-size: 1.7rem;
  }
  .intro-content h3 {
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight:100;
  }
  .intro-content button{
    margin-left:0vw;
  }
  .message{
    margin-bottom:30px;
  }

  
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) and (max-width: 768px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1300px) {
}

@media (min-width: 1300px) and (max-width: 1367px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {
}
