.prizes-wrapper{
    margin-bottom:100px;
}
.prizes-content{
    margin-top:100px;
}
.prize{
    padding:0;
    margin:0;
    margin-bottom: 50px;
    display:inline-block;
}
.prize-underline{
    width:160px;
    margin-top: 50px;
    margin-bottom:30px;
    border-bottom:3.5px solid #5AC1F8;
}
/* .prize-behind{
    background: red;
    width: 130px;
    height: 130px;
    transform: rotate(20deg);
}
.prize-front{
    height: 130px;
    width: 130px;
    background: red;
    transform: rotate(135deg);
    display:flex;justify-content:center;
    align-items: center;
} */
.prize-image{
    z-index: 10;
}
.prize-image img{
    height: 200px;
    width: 200px;
}
.prize-down{
    margin-top:200px;
}


.prize-text{
    height:180px;
    width: 70%;
    color:#000000;
    font-size:2rem;
    font-weight:600;
    background:#CCE5FB;
    border-radius: 10%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.prize-ribbons{
    position: relative;
    top:-35px;
}
.left-ribbon{
    z-index: 0;
}

.right-ribbon{
    transform: rotate(-48.38deg);
}

@media(max-width: 600px) {
    .prize-ribbons{
        display: none;
    }
    .prize-image img{
        height: 100px;
        width: 100px;
    }
    .prize-text{
        height:100px;
        width:140px;
    }
    .prize-down{
        margin-top:300px;  
    }
    .prize-second{
        position: relative;
        left:20px;
    }
    .prize-third{
        position: relative;
        left:-20px;
    }
    .prize-underline{
        width:100px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) and (max-width: 768px) {
    .prize-ribbons{
        display: none;
    }
    .prize-image img{
        height: 150px;
        width: 150px;
    }
    .prize-text{
        height:120px;
        width:90%;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .prize-ribbons{
        display: none;
    }
    .prize-image img{
        height: 150px;
        width: 150px;
    }
    .prize-text{
        height:150px;
        width:90%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1300px) {
}

@media (min-width: 1300px) and (max-width: 1367px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {
}
