

.speakers-bg{
    height: 40vw;
    width: 40vw;
}
.speakers-img{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    position: relative;
    top:-35vw;
    left:8vw;
    margin-right: 0px;
}
.speaker-name{
    color: #5AC1F8;
    font-weight: 700;
    font-size: 2.5rem;
    padding-left: 3vw;
}
.speaker-job{
    font-size: 1.3rem;
    margin-bottom: 4vh;
}
.speaker-para{
    font-size:1.3rem;
}
.speaker{
    height:90vh !important;
    padding-top: 20vh;
}
.speaker-desc-odd{
    border-left: 2px solid #5AC1F8;
    padding-left: 3vw;
    padding-right: 10vw;
    
}
.speaker-desc-even{
    border-right: 2px solid #5AC1F8;
    padding-right: 3vw;
    padding-left: 10vw;
}
.speaker-name-even{
    padding-left: 10vw;
}
.sp{
    padding-left:5vw;
    height:90vh !important;
}
.speaker-index{
    z-index:-1;
    font-size:6.5rem;
    color: #2A4F70;
    font-weight:700;
    position: relative;
    top:-49vh;
    left:15vw;
    width:fit-content;
}
.index-even{
    left:20vw;
    top:-49vh;
}
#speaker-carousel{
    margin-top:100px;
    margin-bottom:30px;
    margin-left:2vw;
    margin-right:2vw;
}
.carousel-indicators{
    position: relative;
    top: -50px;
}
.carousel-control-prev{
    left:-5vw;
}
.carousel-control-next{
    left:78vw;
}
@media (max-width: 600px) {
    .speakers-bg{
        height: 45vw;
        width: 45vw;
    }
    .speakers-img{
        height: 30vw;
        width: 30vw;
        
        top:-40vw;
        
    }
    .speaker-name{

        
        font-size: 1.1rem;
        
    }
    .speaker-job{
        font-size: 0.75rem;
    }
    .speaker-para{
        font-size:0.75rem;
    }
    .speaker{
        padding: 0 !important;
        height:28vh !important;
    }
    .speaker-desc-odd{
        
        padding-right: 3vw;
        
    }
    .speaker-desc-even{
        
        padding-left: 3vw;
    }
    .speaker-name-even{
        padding-left: 3vw;
    }
    .sp{
        padding-left: 0 !important;
        padding-right: 0 !important;
        height:28vh !important;
    }
    .speaker-index{
        z-index:-1;
        font-size:5.5rem;
        color: #2A4F70;
        font-weight:700;
        position: relative;
        top:-30vh;
        left:16vw;
        width:fit-content;
    }
    .index-even{
        left:2vw;
        
    }
    .carousel-indicators{
        position: relative;
        top: 50px;
    }
    .carousel-control-prev{
        left:-10vw;
    }
    .carousel-control-next{
        left:80vw;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) and (max-width: 768px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1300px) {
}

@media (min-width: 1300px) and (max-width: 1367px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {
}
